.profileImage{
    width: 150x;
    /*인라인 요소를 블럭으로 강제로 변경*/
    display : block;
    margin-left: auto;
    margin-right: auto;
}
.title{
    font-size: 20px;
    color : blue;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 2000;
}
p{
    text-align: center;
}
.box{
    width: 400px;
    background-color: turquoise;
    height: auto;
    
    padding: 5px;
    margin: 20px;

    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    box-shadow: 5px 5px rgb(202, 202, 243);
}